body {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* CLASES ALICIA */
.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 3000px) {
  .tolttip-message {
    box-shadow: none !important;
    text-align: center !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    width: auto !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  }

  .tolttip-message .message-text {
    display: none !important;
  }

  .tolttip-message .message-img {
    width: 6.5em !important;
    height: 6.5em !important;
    max-width: 6.5em !important;
  }

  .tolttip-message .message-img:hover {
    width: 6.6em !important;
    height: 6.6em !important;
    max-width: 6.6em !important;
  }
}

@media only screen and (max-width: 700px) {
  .tolttip-message .message-img {
    width: 4.8em !important;
    height: 4.8em !important;
    max-width: 4.8em !important;
  }

  .tolttip-message .message-img:hover {
    width: 5em !important;
    height: 5em !important;
    max-width: 5em !important;
  }
}